nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0, 0, 255, 0.681);
    /* background-image: linear-gradient(); */
    height: 5rem;
}

h1{
    font-family: 'Julee', cursive;
    font-size: 1.8rem;
    color: rgb(1, 95, 1);
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }
}