.card{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid green;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 250px;
    height: 350px;
    position: relative;
    background-color: #f3f3f383;
}

.city {
    text-align: center;
    font-size: 1.2rem;
}
.country{
    font-size: 0.8rem;
}
.star{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.star:hover{
    text-shadow: 2px 2px 5px black;
}
.tempContainer {
    display: flex;
    align-items:center;
}

.tempContainer div :nth-child(2){
    font-size: 1.5rem;
}
.temp {
    font-size: 2.5rem;
}
.loginTemp {
    font-size: 2.5rem;
    color: blue;
}

.loginTemp:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
}

.hourlyForecast {
    overflow-x: scroll;
    max-width: 230px;
}

.scrollable{
    display: flex;
    white-space: nowrap;
}

.loader {
    position: absolute;
    top: 7px;
    right: 7px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #4e4e4e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }
}