.wind, .wind div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nne{
    rotate: 202.5deg;
} 
.ne{
    rotate: 225deg;
} 
.ene{
    rotate: 247.5deg;
} 
.e{
    rotate: 270deg;
} 
.ese{
    rotate: 292.5deg;
} 
.se{
    rotate: 315deg;
} 
.sse{
    rotate: 337.5deg;
} 
.n{
    rotate: 180deg;
} 
.ssw{
    rotate: 22.5deg;
} 
.sw{
    rotate: 45deg;
} 
.wsw{
    rotate: 67.5deg;
} 
.w{
    rotate: 90deg;
} 
.wnw{
    rotate: 112.5deg;
} 
.nw{
    rotate: 135deg;
} 
.nnw{
    rotate: 157.5deg;
} 