.mainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 8rem; */
    padding-bottom: 2rem;
}

.dropdown {
    top: 2.5rem;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 15rem;
    max-width: 80%;
    /* position: absolute; */
    z-index: 2;
}

.citySearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 45%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input :nth-child(2) {
    color: red;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4e4e4e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .mainDiv {
        flex-direction: column;
        /* background-color: aqua; */
    }
    .citySearch {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}