.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2rem;
    background-image: url('/src/img/home.jpg');
    background-size: cover;
}

.favList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f383;
    border-radius: 5px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input {
    background-color: #f3f3f383;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.input :nth-child(2) {
    color: #4e4e4e;
    cursor: pointer;
}
.input :nth-child(2):hover {
    color: black;
}


.dropdown {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 15rem;
    /* max-width: 90%; */
    position: absolute;
    z-index: 1;
    top: 2.5rem;
}
.dropdown div {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.746);
    padding: 0.2rem 0.5rem;
}

.dropdown div:hover {
    background-color: rgba(79, 193, 107, 0.856);
    cursor: pointer;
}
.citySearch {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 35%;
    border-radius: 5px;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4e4e4e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .mainDiv {
        flex-direction: column;
        justify-content: flex-start;
    }
    .citySearch {
        width: 80%;
        align-items: center;
        justify-content: center;
    }
}